# Checkpoint Manipulating Data

My dataset: [Chocolate Bar 2020](https://www.kaggle.com/soroushghaderi/chocolate-bar-2020)

Import the necessary libraries and create your dataframe(s).

In [1]:
#import needed libraires with aliases
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Read in dataset, 

df = pd.read_csv("chocolate_cleaned.csv")

# Want to see if the dataframe was properly imported and see what kind of data is stored in each column.
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             2224 non-null   int64
 1   Index                  2224 non-null   int64
 2   company                2224 non-null   object
 3   company_location       2224 non-null   object
 4   review_date            2224 non-null   int64
 5   Bean_Country           2224 non-null   object
 6   Bean_Province          2224 non-null   object
 7   cocoa_percent          2224 non-null   float64
 8   rating                 2224 non-null   float64
 9   num_ingredients        2224 non-null   int64
 10  cocoa_butter           2224 non-null   object
 11  vanilla                2224 non-null   object
 12  lecithin               2224 non-null   object
 13  salt                   2224 non-null   object
 14  sugar                  2224 non-null   object
 15  alternative_sweetener  2224 non-null   object
 16  first_taste            2224 non-null   object
 17  second_taste           2147 non-null   object
 18  third_taste            1604 non-null   object
 19  fourth_taste           242 non-null    object
dtypes: float64(2), int64(4), object(14)
memory usage: 347.6+ KB

,Unnamed: 0,Index,company,company_location,review_date,Bean_Country,Bean_Province,cocoa_percent,rating,num_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,alternative_sweetener,first_taste,second_taste,third_taste,fourth_taste
0,0,0,5150,U.S.A,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.75,3,Yes,No,No,No,Yes,No,cocoa,blackberry,full body,NaN
1,1,1,5150,U.S.A,2019,Dominican republic,"Zorzal, batch 1",76.0,3.50,3,Yes,No,No,No,Yes,No,cocoa,vegetal,savory,NaN
2,2,2,5150,U.S.A,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.25,3,Yes,No,No,No,Yes,No,rich cocoa,fatty,bready,NaN
3,3,3,A. Morin,France,2012,Peru,Peru,63.0,3.75,4,Yes,No,Yes,No,Yes,No,fruity,melon,roasty,NaN
4,4,4,A. Morin,France,2012,Bolivia,Bolivia,70.0,3.50,4,Yes,No,Yes,No,Yes,No,vegetal,nutty,NaN,NaN

## New CSVs

#### Bean Country and Average Rating of Beans

In [2]:
#create a new dataframe with just Bean_Country and Rating
df_beano = df[['Bean_Country', 'rating']]

In [3]:
# create a new data frme with just Bean_country and the average rating
df_2 = df_beano.groupby('Bean_Country')['rating'].mean()

In [4]:
#save dataset to a new csv
df_2.to_csv("bean_country_avg_rating.csv")

In [5]:
# Check to see that it workded
df_bean_country_avg_rating = pd.read_csv("bean_country_avg_rating.csv")

# Want to see if the dataframe was properly imported and see what kind of data is stored in each column.
df_bean_country_avg_rating.info()
df_bean_country_avg_rating.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Bean_Country  62 non-null     object
 1   rating        62 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

  Bean_Country    rating
0    Australia  3.250000
1       Belize  3.238462
2        Blend  3.082143
3      Bolivia  3.179577
4       Bolvia  3.250000

#### Tastes

I wanted to be able to take a subset of data originally it was just get rid of all the null values from the data set which leads me 242 records, but I reexamined the percentage totals of the null values and decided too make two new CSVs, to see how the information compared. One with deleting the fourth_taste column and then getting rid of any row with null values, leaves 1604 records.  The other keeping the fourth_taste and deleting any row with null values.

In [6]:
# From https://towardsdatascience.com/data-cleaning-in-python-the-ultimate-guide-2020-c63b88bf0a0d
# How complete is my code
# % of missing.

for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Unnamed: 0 - 0%
Index - 0%
company - 0%
company_location - 0%
review_date - 0%
Bean_Country - 0%
Bean_Province - 0%
cocoa_percent - 0%
rating - 0%
num_ingredients - 0%
cocoa_butter - 0%
vanilla - 0%
lecithin - 0%
salt - 0%
sugar - 0%
alternative_sweetener - 0%
first_taste - 0%
second_taste - 3%
third_taste - 28%
fourth_taste - 89%

In [7]:
# Third_Taste
# Create an new dataframe that is a subset of the chocolate_cleaned, delete the fourth taste row 
tastes3_df = df.drop(columns=['fourth_taste'], axis=1)

# then any rows with null values for tastes 1-3
tastes3_df = tastes3_df.dropna()

#save dataset to a new csv
tastes3_df.to_csv("tastes3.csv")

# Check to see that it workded
tastes3 = pd.read_csv("tastes3.csv")


# Want to see if the dataframe was properly imported and see what kind of data is stored in each column.
tastes3.info()
tastes3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1604 entries, 0 to 1603
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1604 non-null   int64
 1   Unnamed: 0.1           1604 non-null   int64
 2   Index                  1604 non-null   int64
 3   company                1604 non-null   object
 4   company_location       1604 non-null   object
 5   review_date            1604 non-null   int64
 6   Bean_Country           1604 non-null   object
 7   Bean_Province          1604 non-null   object
 8   cocoa_percent          1604 non-null   float64
 9   rating                 1604 non-null   float64
 10  num_ingredients        1604 non-null   int64
 11  cocoa_butter           1604 non-null   object
 12  vanilla                1604 non-null   object
 13  lecithin               1604 non-null   object
 14  salt                   1604 non-null   object
 15  sugar                  1604 non-null   object
 16  alternative_sweetener  1604 non-null   object
 17  first_taste            1604 non-null   object
 18  second_taste           1604 non-null   object
 19  third_taste            1604 non-null   object
dtypes: float64(2), int64(5), object(13)
memory usage: 250.8+ KB

,Unnamed: 0,Unnamed: 0.1,Index,company,company_location,review_date,Bean_Country,Bean_Province,cocoa_percent,rating,num_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,alternative_sweetener,first_taste,second_taste,third_taste
0,0,0,0,5150,U.S.A,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.75,3,Yes,No,No,No,Yes,No,cocoa,blackberry,full body
1,1,1,1,5150,U.S.A,2019,Dominican republic,"Zorzal, batch 1",76.0,3.50,3,Yes,No,No,No,Yes,No,cocoa,vegetal,savory
2,2,2,2,5150,U.S.A,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.25,3,Yes,No,No,No,Yes,No,rich cocoa,fatty,bready
3,3,3,3,A. Morin,France,2012,Peru,Peru,63.0,3.75,4,Yes,No,Yes,No,Yes,No,fruity,melon,roasty
4,5,5,5,A. Morin,France,2013,Venezuela,Chuao,70.0,4.00,4,Yes,No,Yes,No,Yes,No,oily,nut,caramel

In [8]:
# Create an new dataframe that is a subset of the chocolate_cleaned withoug any rows with null values for tastes

tastes4_df = df.dropna()

#save dataset to a new csv
tastes4_df.to_csv("tastes4.csv")

# Check to see that it workded
tastes4 = pd.read_csv("tastes4.csv")


# Want to see if the dataframe was properly imported and see what kind of data is stored in each column.
tastes4.info()
tastes4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             242 non-null    int64
 1   Unnamed: 0.1           242 non-null    int64
 2   Index                  242 non-null    int64
 3   company                242 non-null    object
 4   company_location       242 non-null    object
 5   review_date            242 non-null    int64
 6   Bean_Country           242 non-null    object
 7   Bean_Province          242 non-null    object
 8   cocoa_percent          242 non-null    float64
 9   rating                 242 non-null    float64
 10  num_ingredients        242 non-null    int64
 11  cocoa_butter           242 non-null    object
 12  vanilla                242 non-null    object
 13  lecithin               242 non-null    object
 14  salt                   242 non-null    object
 15  sugar                  242 non-null    object
 16  alternative_sweetener  242 non-null    object
 17  first_taste            242 non-null    object
 18  second_taste           242 non-null    object
 19  third_taste            242 non-null    object
 20  fourth_taste           242 non-null    object
dtypes: float64(2), int64(5), object(14)
memory usage: 39.8+ KB

,Unnamed: 0,Unnamed: 0.1,Index,company,company_location,review_date,Bean_Country,Bean_Province,cocoa_percent,rating,...,cocoa_butter,vanilla,lecithin,salt,sugar,alternative_sweetener,first_taste,second_taste,third_taste,fourth_taste
0,5,5,5,A. Morin,France,2013,Venezuela,Chuao,70.0,4.00,...,Yes,No,Yes,No,Yes,No,oily,nut,caramel,raspberry
1,7,7,7,A. Morin,France,2013,Ecuador,Equateur,70.0,3.75,...,Yes,No,Yes,No,Yes,No,sandy,nutty,cocoa,fig
2,26,26,26,A. Morin,France,2018,Peru,Absolu,63.0,3.75,...,Yes,No,Yes,No,Yes,No,sweet,dairy,spice,cocoa
3,29,29,29,Acalli,U.S.A,2015,Peru,"Tumbes, Norandino",70.0,3.75,...,No,No,No,No,Yes,No,intense,nutty,cherry,cocoa
4,36,36,36,Aelan,Vanuatu,2019,Vanuatu,"EPI Island, batch E 11/19",70.0,3.00,...,No,No,No,No,Yes,No,sandy,woody,spicy,sweet

#### How does the average rating % change between the different datasets

In [9]:
# Average Ratings
# Some variation across datasets, wonder if it's statistically significant
df_t = df['rating'].mean()
df_t3 = tastes3['rating'].mean()
df_t4 = tastes4['rating'].mean()

print('Full DF: ' + str(df_t))
print('3 Tastes No Null: ' + str(df_t3))
print('4 Tastes No Null: ' + str(df_t4))

Full DF: 3.19851618705036
3 Tastes No Null: 3.179706982543641
4 Tastes No Null: 3.175619834710744

#### How does the rating % change between the different datasets

In [10]:
# Ratings
# Some variation across datasets, wonder if it's statistically significant
df_t = df['rating'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t3 = tastes3['rating'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t4 = tastes4['rating'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'

pd.DataFrame({'Full DF': df_t, '3 Tastes No Null': df_t3, '4 Tastes No Null': df_t4})

     Full DF 3 Tastes No Null 4 Tastes No Null
1.00    0.0%              NaN              NaN
1.50    0.2%             0.2%              NaN
1.75    0.0%              NaN              NaN
2.00    1.3%             1.1%             0.4%
2.25    0.6%             0.7%             1.2%
2.50    6.7%             7.4%             8.7%
2.75   13.7%            15.3%            15.3%
3.00   21.2%            22.0%            25.2%
3.25   17.7%            17.3%            12.4%
3.50   22.0%            20.3%            20.2%
3.75   11.9%            11.0%            10.7%
4.00    4.5%             4.8%             5.8%

#### How does the Cocoa Percentage change between the different datasets

In [11]:
# Cocoa Percentage
# It seems the more tastes the less percentage of cocoa of being 70% decreases by 6%, statistically significant?
df_t = df['cocoa_percent'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t3 = tastes3['cocoa_percent'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t4 = tastes4['cocoa_percent'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'

pd.DataFrame({'Full DF': df_t, '3 Tastes No Null': df_t3, '4 Tastes No Null': df_t4})

      Full DF 3 Tastes No Null 4 Tastes No Null
42.0     0.0%             0.1%              NaN
46.0     0.0%             0.1%              NaN
50.0     0.0%             0.1%              NaN
53.0     0.0%              NaN              NaN
55.0     0.7%             0.7%              NaN
56.0     0.1%             0.1%              NaN
57.0     0.0%             0.1%              NaN
58.0     0.4%             0.3%             0.4%
60.0     2.0%             2.2%             4.5%
60.5     0.0%              NaN              NaN
61.0     0.3%             0.4%             0.4%
62.0     0.6%             0.6%             1.7%
63.0     0.5%             0.7%             1.7%
64.0     1.4%             1.2%             2.1%
65.0     3.6%             3.7%             3.3%
66.0     1.2%             0.9%             0.4%
67.0     1.3%             1.3%             1.2%
68.0     2.7%             2.6%             3.3%
69.0     0.5%             0.6%             0.8%
70.0    40.6%            37.5%            33.9%
71.0     1.9%             2.1%             3.3%
71.5     0.1%             0.1%             0.4%
72.0    11.3%            11.8%            11.2%
72.5     0.2%             0.2%              NaN
73.0     2.7%             2.6%             2.5%
73.5     0.1%             0.1%              NaN
74.0     2.8%             2.9%             3.3%
75.0    12.8%            14.1%            12.8%
76.0     1.5%             1.9%             2.5%
77.0     1.7%             1.6%             2.1%
78.0     0.9%             0.7%             0.8%
79.0     0.0%             0.1%              NaN
80.0     3.6%             3.7%             2.1%
81.0     0.3%             0.4%              NaN
82.0     0.8%             1.1%             0.8%
83.0     0.2%             0.1%              NaN
84.0     0.2%             0.2%              NaN
85.0     1.7%             1.9%             2.9%
86.0     0.0%             0.1%              NaN
87.0     0.0%             0.1%              NaN
88.0     0.3%             0.2%             0.4%
89.0     0.1%             0.1%              NaN
90.0     0.3%             0.4%             0.8%
91.0     0.1%             0.2%              NaN
99.0     0.0%             0.1%              NaN
100.0    0.3%             0.3%             0.4%

#### How does the number of ingredients change between the different datasets

In [12]:
# Percentage number of Ingredients in each bar
# Some variation across datasets, wonder if it's statistically significant
df_t = df['num_ingredients'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t3 = tastes3['num_ingredients'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t4 = tastes4['num_ingredients'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'

pd.DataFrame({'Full DF': df_t, '3 Tastes No Null': df_t3, '4 Tastes No Null': df_t4})

  Full DF 3 Tastes No Null 4 Tastes No Null
1    0.2%             0.2%              NaN
2   29.9%            30.4%            29.8%
3   40.9%            39.5%            35.5%
4   20.2%            21.2%            25.6%
5    8.6%             8.4%             9.1%
6    0.2%             0.2%              NaN

#### How does the use of salt change between the different datasets

In [13]:
# Percetage of Bars that use salt(1) or don't (0)
# Consistant across dataframes
df_t = df['salt'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t3 = tastes3['salt'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t4 = tastes4['salt'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'

pd.DataFrame({'Full DF': df_t, '3 Tastes No Null': df_t3, '4 Tastes No Null': df_t4})

    Full DF 3 Tastes No Null 4 Tastes No Null
Yes    1.7%             1.7%             1.7%
No    98.3%            98.3%            98.3%

#### How does the use of non sugar sweetener change between the different datasets

In [14]:
# Percetage of Bars that use sweetener_without_sugar(1) or don't (0)
# Consistant across dataframes
df_t = df['alternative_sweetener'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t3 = tastes3['alternative_sweetener'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t4 = tastes4['alternative_sweetener'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'

pd.DataFrame({'Full DF': df_t, '3 Tastes No Null': df_t3, '4 Tastes No Null': df_t4})

    Full DF 3 Tastes No Null 4 Tastes No Null
Yes    3.4%             3.2%             3.7%
No    96.6%            96.8%            96.3%

#### How does the use of cocoa butter change between the different datasets

In [15]:
# Percetage of Bars that use cocoa_butter(1) or don't (0)
# Consistant across dataframes
df_t = df['cocoa_butter'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t3 = tastes3['cocoa_butter'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t4 = tastes4['cocoa_butter'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'

pd.DataFrame({'Full DF': df_t, '3 Tastes No Null': df_t3, '4 Tastes No Null': df_t4})

    Full DF 3 Tastes No Null 4 Tastes No Null
Yes   69.0%            68.8%            70.7%
No    31.0%            31.2%            29.3%

#### How does the use of vanilla change between the different datasets

In [16]:
# Percetage of Bars that use vanilla(1) or don't (0)
# Consistant across dataframes
df_t = df['vanilla'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t3 = tastes3['vanilla'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t4 = tastes4['vanilla'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'

pd.DataFrame({'Full DF': df_t, '3 Tastes No Null': df_t3, '4 Tastes No Null': df_t4})

    Full DF 3 Tastes No Null 4 Tastes No Null
Yes   15.6%            15.8%            15.3%
No    84.4%            84.2%            84.7%

#### How does the use of lecithin change between the different datasets

In [17]:
# Percetage of Bars that use lecithin(1) or don't (0)
# 5% increase of use of lecithin within the dataset that includes 4 tastes for each bar
df_t = df['lecithin'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t3 = tastes3['lecithin'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'
df_t4 = tastes4['lecithin'].value_counts(normalize=True).sort_index(ascending=False).mul(100).round(1).astype(str) + '%'

pd.DataFrame({'Full DF': df_t, '3 Tastes No Null': df_t3, '4 Tastes No Null': df_t4})

    Full DF 3 Tastes No Null 4 Tastes No Null
Yes   21.5%            21.9%            26.9%
No    78.5%            78.1%            73.1%

#### Word Clouds

I'm also interested in how the word clouds will have changed across the data sets.  Decided to create a new CSV for the 4 Tastes No Null csv (taste4.csv).  I wanted to add up the counts for each taste across all 4 tastes columns. In the end I used numby to create the new csv.

In [18]:
# tried a few things based on google research
# theses methods doesn't get me what I want

# tastes4[['first_taste', 'second_taste', 'third_taste', 'fourth_taste']].apply(pd.Series.value_counts)
# tastes4[['first_taste', 'second_taste', 'third_taste', 'fourth_taste']].groupby(['first_taste', 'second_taste', 'third_taste', 'fourth_taste']).count()

# tastes4[['first_taste', 'second_taste', 'third_taste', 'fourth_taste']].groupby(['first_taste', 'second_taste', 'third_taste', 'fourth_taste']).size()

In [19]:
# tastes4[['first_taste', 'second_taste', 'third_taste', 'fourth_taste']].value_count(axis = 1)

In [20]:
# https://www.geeksforgeeks.org/pandas-find-unique-values-from-multiple-columns/
print(np.unique(tastes4[['first_taste', 'second_taste', 'third_taste', 'fourth_taste']].values))

#https://www.kite.com/python/answers/how-to-count-frequency-of-unique-values-in-a-numpy-array-in-python#:~:text=Use%20numpy.,list%20of%20their%20corresponding%20frequencies.
#print(np.unique(tastes[['first_taste', 'second_taste', 'third_taste', 'fourth_taste']].values), return_counts=True)

['acidic' 'apple' 'ashey' 'balanced' 'banana' 'basic' 'berries' 'berry'
 'bitter' 'blackberry' 'bland' 'bold' 'bread' 'bready' 'bright fruit'
 'brownie' 'burning' 'burnt' 'butter' 'buttery' 'candy' 'caramel'
 'cardboard' 'chalky' 'cheese' 'cheesey' 'chemical' 'cherry' 'chewy'
 'choco' 'chunky' 'cigar' 'cinamon' 'citrus' 'clingy' 'coarse' 'cocoa'
 'coconut' 'coffee' 'complex' 'cream' 'creamy' 'dairy' 'deep' 'delicate'
 'dirt' 'dirty' 'dried fruit' 'dry' 'earth' 'earthy' 'empty' 'fat' 'fatty'
 'few grits' 'fig' 'flat' 'floral' 'fruit' 'fruity' 'fuel' 'grainy'
 'grape' 'grapes' 'grass' 'grassy' 'green' 'grit' 'grits' 'gritty' 'ham'
 'hammy' 'hay' 'herb' 'herbs' 'high acid' 'high acidity' 'hint of fruit'
 'honey' 'intens' 'intense' 'leather' 'leathery' 'lemon' 'licorice'
 'light color' 'lime' 'long' 'malt' 'medicinal' 'melon' 'metal' 'metallic'
 'mild' 'mild bitter' 'mild fruit' 'mild tart' 'mint' 'molasses'
 'molassses' 'mold' 'moss' 'muddy' 'musty' 'muted' 'nut' 'nutmeg' 'nuts'
 'nutty' 'off' 'off aroma' 'off note' 'off notes' 'oily' 'olive' 'orange'
 'palm' 'pastey' 'pasty' 'peanut' 'peanut butter' 'pear' 'pepper'
 'powdery' 'pungent' 'rainins' 'raisin' 'raspberry' 'raw' 'red berry'
 'red fruit' 'rich' 'roasty' 'robust' 'rough' 'rubber' 'rubbery' 'rum'
 'rustic' 'salt' 'salty' 'sandy' 'savory' 'simple' 'sl. Burnt' 'sl. dry'
 'slow' 'smoke' 'smokey' 'smooth' 'soil' 'sour' 'sour fig' 'sour fruit'
 'spice' 'spicy' 'sticky' 'sticy' 'strawberry' 'strong' 'subdued' 'subtle'
 'sweet' 'swiss miss' 'synthetic' 'tang' 'tangy' 'tannic' 'tart' 'tea'
 'toast' 'tobacco' 'toffee' 'tropical' 'undefined' 'vanilla' 'vegetal'
 'watery' 'waxy' 'wine' 'wood' 'woody']

In [21]:
#https://www.delftstack.com/howto/numpy/python-numpy-value-counts/
array = np.array(tastes4[['first_taste', 'second_taste', 'third_taste', 'fourth_taste']])

unique, counts = np.unique(array, return_counts=True)

result = np.column_stack((unique, counts)) 
print (result)

[['acidic' 6]
 ['apple' 1]
 ['ashey' 2]
 ['balanced' 2]
 ['banana' 8]
 ['basic' 1]
 ['berries' 1]
 ['berry' 3]
 ['bitter' 15]
 ['blackberry' 1]
 ['bland' 3]
 ['bold' 5]
 ['bread' 1]
 ['bready' 1]
 ['bright fruit' 1]
 ['brownie' 6]
 ['burning' 1]
 ['burnt' 8]
 ['butter' 1]
 ['buttery' 1]
 ['candy' 2]
 ['caramel' 11]
 ['cardboard' 2]
 ['chalky' 4]
 ['cheese' 1]
 ['cheesey' 1]
 ['chemical' 2]
 ['cherry' 7]
 ['chewy' 2]
 ['choco' 2]
 ['chunky' 1]
 ['cigar' 1]
 ['cinamon' 1]
 ['citrus' 2]
 ['clingy' 1]
 ['coarse' 6]
 ['cocoa' 41]
 ['coconut' 2]
 ['coffee' 13]
 ['complex' 12]
 ['cream' 2]
 ['creamy' 21]
 ['dairy' 13]
 ['deep' 1]
 ['delicate' 1]
 ['dirt' 1]
 ['dirty' 6]
 ['dried fruit' 5]
 ['dry' 18]
 ['earth' 1]
 ['earthy' 22]
 ['empty' 2]
 ['fat' 1]
 ['fatty' 27]
 ['few grits' 1]
 ['fig' 4]
 ['flat' 2]
 ['floral' 16]
 ['fruit' 23]
 ['fruity' 3]
 ['fuel' 2]
 ['grainy' 1]
 ['grape' 1]
 ['grapes' 2]
 ['grass' 1]
 ['grassy' 6]
 ['green' 4]
 ['grit' 2]
 ['grits' 1]
 ['gritty' 16]
 ['ham' 2]
 ['hammy' 4]
 ['hay' 2]
 ['herb' 1]
 ['herbs' 1]
 ['high acid' 1]
 ['high acidity' 1]
 ['hint of fruit' 1]
 ['honey' 5]
 ['intens' 1]
 ['intense' 25]
 ['leather' 1]
 ['leathery' 3]
 ['lemon' 2]
 ['licorice' 4]
 ['light color' 1]
 ['lime' 1]
 ['long' 5]
 ['malt' 1]
 ['medicinal' 2]
 ['melon' 2]
 ['metal' 2]
 ['metallic' 4]
 ['mild' 4]
 ['mild bitter' 1]
 ['mild fruit' 3]
 ['mild tart' 2]
 ['mint' 4]
 ['molasses' 4]
 ['molassses' 1]
 ['mold' 1]
 ['moss' 1]
 ['muddy' 2]
 ['musty' 2]
 ['muted' 1]
 ['nut' 19]
 ['nutmeg' 1]
 ['nuts' 4]
 ['nutty' 37]
 ['off' 13]
 ['off aroma' 1]
 ['off note' 1]
 ['off notes' 3]
 ['oily' 13]
 ['olive' 1]
 ['orange' 2]
 ['palm' 1]
 ['pastey' 2]
 ['pasty' 1]
 ['peanut' 1]
 ['peanut butter' 1]
 ['pear' 1]
 ['pepper' 1]
 ['powdery' 2]
 ['pungent' 1]
 ['rainins' 1]
 ['raisin' 4]
 ['raspberry' 1]
 ['raw' 2]
 ['red berry' 2]
 ['red fruit' 2]
 ['rich' 27]
 ['roasty' 38]
 ['robust' 1]
 ['rough' 1]
 ['rubber' 5]
 ['rubbery' 6]
 ['rum' 1]
 ['rustic' 1]
 ['salt' 2]
 ['salty' 2]
 ['sandy' 38]
 ['savory' 1]
 ['simple' 1]
 ['sl. Burnt' 1]
 ['sl. dry' 1]
 ['slow' 1]
 ['smoke' 13]
 ['smokey' 4]
 ['smooth' 4]
 ['soil' 1]
 ['sour' 31]
 ['sour fig' 1]
 ['sour fruit' 1]
 ['spice' 19]
 ['spicy' 13]
 ['sticky' 15]
 ['sticy' 1]
 ['strawberry' 1]
 ['strong' 1]
 ['subdued' 3]
 ['subtle' 2]
 ['sweet' 53]
 ['swiss miss' 1]
 ['synthetic' 1]
 ['tang' 1]
 ['tangy' 6]
 ['tannic' 2]
 ['tart' 14]
 ['tea' 2]
 ['toast' 1]
 ['tobacco' 3]
 ['toffee' 2]
 ['tropical' 1]
 ['undefined' 1]
 ['vanilla' 14]
 ['vegetal' 7]
 ['watery' 1]
 ['waxy' 3]
 ['wine' 3]
 ['wood' 1]
 ['woody' 10]]

In [22]:
#https://datatofish.com/numpy-array-to-pandas-dataframe/
df_new_tastes = pd.DataFrame(result, columns = ['Taste','Count'])

#save dataset to a new csv
df_new_tastes.to_csv("tastes4c.csv")

# Check to see that it workded
tastes4c = pd.read_csv("tastes4c.csv")


# Want to see if the dataframe was properly imported and see what kind of data is stored in each column.
tastes4c.info()
tastes4c.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  182 non-null    int64
 1   Taste       182 non-null    object
 2   Count       182 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.4+ KB

   Unnamed: 0     Taste  Count
0           0    acidic      6
1           1     apple      1
2           2     ashey      2
3           3  balanced      2
4           4    banana      8

In [23]:
# Tried droping the Unnamed:0 column but it didn't work
# Decided to move forward because I can just select the two columns I want in Tableau
# Drop Unnamed:0
# tastes4_count = tastes4c.drop(columns=['Unnamed: 0'])

# resave datatframe to CSV
# save dataset to a new csv
# tastes4_count.to_csv("tastes4_count.csv")

# Check to see that it workded
# tastes4_count = pd.read_csv("tastes4_count.csv")


# Want to see if the dataframe was properly imported and see what kind of data is stored in each column.
# tastes4_count.info()
# tastes4_count.head()